<ul>
  <% todos.each do |todo| %>
    <li data-todo-id="<%= todo.id %>" class="todo">
      <%= check_box_tag :complete, true, todo.complete %>
      <%= label_tag :complete, todo.title %>
    </li>
  <% end %>
</ul>
